<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChoiceScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B7180B41D5BE8440046BB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7180C81D5BE8440046BB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7180D31D5BE8440046BB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
